<nav>

    <div class="logo">

        <img src="assets\shared\logo.svg" alt="logo">

    </div>

    <ul class="nav-list">

        <div class="close" (click)="toggleNavList('close')">

            <img src="/assets/shared/icon-close.svg" alt="close">

        </div>

        <li class="home" (click)="toggleNavList('close')"><a routerLink="home"><span>00</span> HOME</a></li>

        <li class="destination" (click)="toggleNavList('close')"><a routerLink="destination" [queryParams]="{obj:'Moon'}"><span>01</span> DESTINATION</a></li>

        <li class="crew" (click)="toggleNavList('close')"><a routerLink="crew" [queryParams]="{obj:'Commander'}"><span>02</span> CREW</a></li>

        <li class="technology" (click)="toggleNavList('close')"><a routerLink="technology" [queryParams]="{obj:'Launch vehicle'}"><span>03</span> TECHNOLOGY</a></li>
        
    </ul>

    <div class="open" (click)="toggleNavList('open')">

        <img src="/assets/shared/icon-hamburger.svg" alt="open">

    </div>

</nav>